
<h2>Germán Llorente</h2>
<h3>Ingeniero en Sistemas de Computación</h3>
<ul>
    <li>GitHub: https://github.com/llorentegerman </li>
    <li>Linkedin: https://ar.linkedin.com/in/german-llorente-85b32944 </li>
    <li>OmbuSoft: http://www.ombusoft.com.ar </li>
</ul>
<p></p>
